// Main layout styles

@use '../base/variables';
@use '../base/mixins';

.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: variables.$spacing-lg;

    @include mixins.desktop {
        margin: 0 auto;
    }

    .sections-container {
        position: relative;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: variables.$content-max-width;
    padding: 0 variables.$spacing-lg;

    @include mixins.tablet {
        padding: 0 variables.$spacing-xl;
    }

    @include mixins.desktop {
        padding: 0 variables.$spacing-2xl;
    }
}
