// Main layout styles

.main-content {
    display: flex;
    flex-direction: column;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 $spacing-md;

        .content-text {
            justify-content: center;
            align-items: center;
        }
    }
}
