// Main layout styles

.main {
    display: flex;
    flex-direction: column;

    section {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 $spacing-md;
    }
}
