@use '../base/variables';
@use '../base/mixins';

.action-prompt {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: variables.$spacing-2xl;
  opacity: 0;
  visibility: hidden;
  transition: opacity variables.$transition-base, visibility variables.$transition-base;

  @include mixins.mobile {
    padding: variables.$spacing-md 0 0;
  }

  &.action-prompt--visible {
    opacity: 1;
    visibility: visible;
  }
}
