@use '../base/variables';
@use '../base/mixins';

.drawer {
  position: relative;
  width: 100%;
  color: var(--color-text-secondary);

  &__toggle {
    display: flex;
    width: inherit;
    align-items: center;
    justify-self: center;
    justify-content: center;
    gap: variables.$spacing-s;
    margin: variables.$spacing-md 0;

    @include mixins.desktop {
      max-width: variables.$change-role-modal-min-width;
      margin: variables.$spacing-lg 0;
    }
  }

  &__toggle-icon {
    font-size: variables.$font-size-xl;
    transition: transform variables.$transition-medium;

    [data-collapsed="false"] & {
      transform: rotate(180deg);
    }
  }

  &__content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height variables.$transition-medium, opacity variables.$transition-medium,;

    [data-collapsed="false"] & {
      overflow: visible;
    }
  }
}
