
.button {
  width: 160px;
  height: 48px;
  border-radius: $radius-sm;
  padding: $spacing-sm $spacing-md;

  &--primary {
    background-color: var(--color-accent);
    color: var(--color-bg);
    font-weight: bold;
    transition: background-color $transition-base;

    &:hover {
      outline: none;
      background-color: var(--color-accent-hover);
      color: var(--color-bg);
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
}
