// Footer component styles

@use 'sass:color';

.footer {
    position: relative;
    max-width: $content-max-width;
    padding: $spacing-lg $spacing-md;
    margin-top: auto;
    background-color: var(--color-surface);
    color: var(--color-text);
    text-align: center;

    &__social {
        display: inline-block;

        .social-links {
            display: flex;
            flex-direction: row;

            li {
                padding: 0 $spacing-xs;
            }

            &__icon {
                display: block;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: var(--color-primary);
                padding: $spacing-md;
                border: 2px solid var(--color-border);
                border-radius: 100%;
                transition: background-color $transition-base;

                &:hover {
                    border: 2px solid var(--color-border);
                    background-color: var(--color-primary-dark);
                }
            }

            &__github_icon {
                background-image: url("public/icons/github-light.svg");
            }

            .dark &__github_icon {
                background-image: url("public/icons/github-dark.svg");
            }

            &__linkedin_icon {
                background-image: url("public/icons/linkedin-round-light.svg");
            }

            .dark &__linkedin_icon {
                background-image: url("public/icons/linkedin-round-dark.svg");
            }
        }
    }

    &__copyright,
    &__rights {
        font-size: $font-size-xs;
        margin: 0;
    }

    &__bottom {
        display: inline-block;
        margin-top: $spacing-xs;
    }

    &__text {
        margin-bottom: 0;
        font-size: $font-size-sm;
    }

    &__language {
        position: absolute;
        right: $spacing-md;
    }
}
