@use '../base/variables';
@use '../base/mixins';

.hero {
  position: relative;
  justify-content: center;
  z-index: variables.$z-nav;
  background-color: transparent;
  gap: variables.$spacing-md;
  height: calc(100vh - 3rem); // used static value to escape Webstorm error

  @include mixins.desktop {
    max-width: 50%;
    gap: variables.$spacing-xl;
    height: calc(100vh - 4rem); // used static value to escape Webstorm error
  }

  &-content {
    text-align: center;

    @include mixins.desktop {
      text-align: start;
    }
  }

  &-image {
    position: relative;
    border-radius: variables.$radius-full;
    border: solid 8px var(--color-border);
    overflow: hidden;

    img {
      height: auto;
      width: variables.$hero-background-image-width;
    }
  }

  &-title {
    font-size: variables.$font-size-3xl;
    color: var(--color-text);
    letter-spacing: -0.025em;

    @include mixins.desktop {
      font-size: variables.$font-size-6xl;
    }
  }

  &-subtitle {
    font-size: variables.$font-size-2xl;
    color: var(--color-text-secondary);

    @include mixins.desktop {
      font-size: variables.$font-size-3xl;
    }
  }

  &-intro {
    margin-top: variables.$spacing-md;
    font-size: variables.$font-size-lg;
    color: var(--color-text-secondary);
    line-height: variables.$line-height-tight;
    text-align: left;

    @include mixins.desktop {
      font-size: variables.$font-size-xl;
    }
  }

  &-start-conversation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: variables.$radius-full;

    &__text {
      font-size: variables.$font-size-lg;
      font-weight: variables.$font-weight-bold;
    }

    &__icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      padding: variables.$spacing-s 0;
      background-color: var(--color-accent);
      color:  var(--color-blue-50);
      border-radius: variables.$radius-full;
      transition: background-color variables.$transition-base;
    }

    &:hover &__icon-wrapper {
      background-color: var(--color-accent-hover);
    }
  }
}
