// Hero section styles

.hero {
    flex-direction: column;
    justify-content: center;
    background-color: $background-color;
    height: calc(100vh - 4rem);
    gap: 2rem;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70%;

        span {
            color: $secondary-color;
        }

        &__title {
            color: $primary-color;
            margin-bottom: $spacing-lg;
        }

        &__subtitle {
            margin-bottom: $spacing-xxl;
        }

        &__actions {
            height: 100%;
        }
    }

    &__photo {
        width: 100%;
        max-width: 160px;
        height: 160px;
        border-radius: 50%;
        border-color: $primary-color;
        border-style: solid;
        border-width: 2px;
        background-color: #6c757d;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: -5%;
            right: 2%;
        }
    }
}
