// Navigation component styles

.navigation {
    margin: 0 auto;
    padding: 0 $spacing-md;
    display: flex;
    flex-direction: row;
    justify-content: end;

    .navigation__menu {
        display: flex;
        flex-direction: row;

        li {
            padding: 0 $spacing-sm;
        }
    }

    .navigation__language {
        flex: 0;
    }
}
