@use '../base/variables';
@use '../base/mixins';

.path-selection {
  position: relative;
  justify-content: center;
  z-index: variables.$z-nav;
  background-color: transparent;
  gap: variables.$spacing-md;
  padding: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
  max-height: 1000px; // high value to make sure transition works.

  @include mixins.desktop {
    gap: variables.$spacing-xl;
    height: calc(100vh - 4rem); // used static value to escape Webstorm error
  }

  &__description {
    width: 100%;
    text-align: center;
    font-size: variables.$font-size-base;
    color: var(--color-text-secondary);
    line-height: variables.$line-height-normal;

    @include mixins.mobile {
      padding: variables.$spacing-xs variables.$spacing-md;
    }

    @include mixins.desktop {
      font-size: variables.$font-size-xl;
    }
  }

  &__cards {
    display: grid;
    margin: 0 auto;
    gap: variables.$spacing-lg;
    padding: 0 variables.$spacing-md;

    @include mixins.tablet {
      grid-template-columns: repeat(2, 1fr);

      &:last-child {
        grid-column: 1 / -1;
        max-width: 70%;
        margin: 0 auto;
      }
    }

    @include mixins.desktop {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      max-width: variables.$content-max-width;
      gap: variables.$spacing-xl;

      &:last-child {
        max-width: variables.$content-max-width;
      }
    }
  }

  &__cta-prompt {
    margin-bottom: variables.$spacing-md;
    font-size: variables.$font-size-lg;

    @include mixins.desktop {

    }
  }

  &.invisible {
    max-height: 0;
  }
}
