// Skills section

.skills {
  height: 100vh;

  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 0 $spacing-xl;
  }

  &__details__container {
    background-color: var(--color-surface);
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
  }
}
